{% extends 'tailwind/index.html' %}

{% block content %}

{% include 'app_food/navbar.html' %}


    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
        {% for item in items %}
        <div class="card w-96 bg-base-100 card-xl shadow-sm">
            <div class="card-body">
              <h2 class="card-title">{{ item.name }}</h2>
              <p>{{ item.description }}</p>
              <div class="justify-end card-actions">
                <a class="btn btn-primary" href="{% url 'app_food:item_detail' item.id %}">Visit</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>



{% endblock content %}