{% extends 'tailwind/index.html' %}




{% block content %}
{% include 'app_food/navbar.html' %}

<div class="mx-auto w-96"
<div class="card lg:card-side bg-base-100 shadow-sm">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
        alt="Album" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ item.name }}</h2>
      <p>{{ item.description }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Listen</button>
      </div>
    </div>
  </div>
    
{% endblock content %}
    